In [34]:
pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.10/dist-packages (20.0.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [35]:
import sqlite3
import numpy as np
import pandas as pd
from faker import Faker

# Using Faker
fake = Faker()

# Number of Book source
n = 1200

# Titles by Faker
book_titles = [fake.catch_phrase() for _ in range(n)]

# Author Names by Faker
authors = [fake.name() for _ in range(n)]

# Author Nationality by Faker
author_nationalities = [fake.country() for _ in range(n)]

# Publication Year of Book
publication_years = np.random.randint(1990, 2023, n)

# Price of the Book
book_prices = np.random.uniform(10, 50, n).round(2)

# Extra Columns for Books
publishers = [fake.company() for _ in range(n)]  # Fake publisher names
book_formats = np.random.choice(['Hardcover', 'Paperback', 'E-book'], n)
availability = np.random.choice(['In Stock', 'Out of Stock'], n)

# Books Ratings
ratings = np.random.uniform(3.0, 5.0, n).round(2)

# Number of Books Sold Out
books_sold_out = np.random.randint(1000, 10000, n)

# Create DataFrame for Books
books_overall = pd.DataFrame({
    'Title_of_Book': book_titles,
    'Author': authors,
    'Author_Nationality': author_nationalities,
    'Publication_Year': publication_years,
    'Book_Price($)': book_prices,
    'Publisher': publishers,
    'Format': book_formats,
    'Availability': availability,
})

# DataFrame for the Ratings and Book Titles
book_ratings = pd.DataFrame({
    'Title_of_Book': book_titles,
    'Rating': ratings,
    'Books_Sold_Out': books_sold_out,  # New column for books sold out in book_ratings
})

# DataFrame for the Number of Pages and Book Titles
book_pages = pd.DataFrame({
    'Title_of_Book': book_titles,
    'Number_of_Pages': np.random.randint(200, 800, n),
    'Author': authors,  # Adding Author to demonstrate a composite key
})

# Remove null values
books_overall = books_overall.dropna()
book_ratings = book_ratings.dropna()
book_pages = book_pages.dropna()

# Print the first few rows of each DataFrame after removing null values
print("Books DataFrame:")
print(books_overall.head().to_string(index=False))
print("\nRatings DataFrame:")
print(book_ratings.head().to_string(index=False))
print("\nNumber of Pages DataFrame:")
print(book_pages.head().to_string(index=False))

# Connect to SQLite database, also creates a new file if not exists
conn = sqlite3.connect('book_database.db')
cursor = conn.cursor()

# Create 'books_overall' table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS books_overall (
        Title_of_Book TEXT PRIMARY KEY,
        Author TEXT,
        Author_Nationality TEXT,
        Publication_Year INTEGER,
        Book_Price REAL,
        Publisher TEXT,
        Format TEXT,
        Availability TEXT
    )
''')

# Create 'book_ratings' table with a foreign key referencing 'books_overall'
cursor.execute('''
    CREATE TABLE IF NOT EXISTS book_ratings (
        Title_of_Book TEXT PRIMARY KEY,
        Rating REAL,
        Books_Sold_Out INTEGER,
        FOREIGN KEY (Title_of_Book) REFERENCES books_overall (Title_of_Book)
    )
''')

# Create 'book_pages' table with a composite key
cursor.execute('''
    CREATE TABLE IF NOT EXISTS book_pages (
        Title_of_Book TEXT,
        Number_of_Pages INTEGER,
        Author TEXT,
        PRIMARY KEY (Title_of_Book, Author),
        FOREIGN KEY (Title_of_Book) REFERENCES books_overall (Title_of_Book)
    )
''')

# Convert DataFrames to SQLite tables
books_overall.to_sql('books_overall', conn, index=False, if_exists='replace')
book_ratings.to_sql('book_ratings', conn, index=False, if_exists='replace')
book_pages.to_sql('book_pages', conn, index=False, if_exists='replace')

# Commit the changes and close the connection
conn.commit()
conn.close()

# Checking for duplicates and missing values in the 'books_overall' DataFrame
duplicate_books_overall = books_overall[books_overall.duplicated()]
missing_values_books_overall = books_overall.isnull().sum()

# Checking for duplicates and missing values in the 'book_ratings' DataFrame
duplicate_book_ratings = book_ratings[book_ratings.duplicated()]
missing_values_book_ratings = book_ratings.isnull().sum()

# Checking for duplicates and missing values in the 'book_pages' DataFrame
duplicate_book_pages = book_pages[book_pages.duplicated()]
missing_values_book_pages = book_pages.isnull().sum()

# Displaying the results
print("Books Overall - Duplicate Values:")
print(duplicate_books_overall)
print("\nBooks Overall - Missing Values:")
print(missing_values_books_overall)

print("\nBook Ratings - Duplicate Values:")
print(duplicate_book_ratings)
print("\nBook Ratings - Missing Values:")
print(missing_values_book_ratings)

print("\nBook Pages - Duplicate Values:")
print(duplicate_book_pages)
print("\nBook Pages - Missing Values:")
print(missing_values_book_pages)

print("DataFrames converted to SQLite database successfully.")

Books DataFrame:
                          Title_of_Book        Author            Author_Nationality  Publication_Year  Book_Price($)                  Publisher    Format Availability
      Decentralized foreground intranet    Louis Hays Holy See (Vatican City State)              1998          22.76                 Hardy-Diaz Hardcover     In Stock
Multi-lateral empowering infrastructure    Anna Hanna              Saint Barthelemy              1995          26.82      Pena, Allen and Combs Hardcover Out of Stock
  Synergized web-enabled info-mediaries Eric Castillo             Equatorial Guinea              1999          32.26 Weber, Hicks and Contreras Paperback     In Stock
     Networked 4thgeneration capability Nathan Chavez         Palestinian Territory              2006          32.35                Beasley PLC Hardcover     In Stock
           Synergistic secondary access  Vernon Gross                       Bermuda              1999          10.37          Contreras-Russell Hardcover Out of Stock

Ratings DataFrame:
                          Title_of_Book  Rating  Books_Sold_Out
      Decentralized foreground intranet    4.30            6694
Multi-lateral empowering infrastructure    3.28            6751
  Synergized web-enabled info-mediaries    4.79            2380
     Networked 4thgeneration capability    4.83            6676
           Synergistic secondary access    4.68            6405

Number of Pages DataFrame:
                          Title_of_Book  Number_of_Pages        Author
      Decentralized foreground intranet              245    Louis Hays
Multi-lateral empowering infrastructure              394    Anna Hanna
  Synergized web-enabled info-mediaries              746 Eric Castillo
     Networked 4thgeneration capability              722 Nathan Chavez
           Synergistic secondary access              219  Vernon Gross
Books Overall - Duplicate Values:
Empty DataFrame
Columns: [Title_of_Book, Author, Author_Nationality, Publication_Year, Book_Price($), Publisher, Format, Availability]
Index: []

Books Overall - Missing Values:
Title_of_Book         0
Author                0
Author_Nationality    0
Publication_Year      0
Book_Price($)         0
Publisher             0
Format                0
Availability          0
dtype: int64

Book Ratings - Duplicate Values:
Empty DataFrame
Columns: [Title_of_Book, Rating, Books_Sold_Out]
Index: []

Book Ratings - Missing Values:
Title_of_Book     0
Rating            0
Books_Sold_Out    0
dtype: int64

Book Pages - Duplicate Values:
Empty DataFrame
Columns: [Title_of_Book, Number_of_Pages, Author]
Index: []

Book Pages - Missing Values:
Title_of_Book      0
Number_of_Pages    0
Author             0
dtype: int64
DataFrames converted to SQLite database successfully.